/*general*/
*{
    box-sizing: border-box;
     max-width: 100%;
     padding: 0;
     margin: 0;
 
 }
 html{
     width: 100%;
 }
 body {
     overflow-x: hidden; /* Hide horizontal scrollbar */
     width: 100%;
     justify-content: center;
     align-items: center;
     font-family: 'Poppins', sans-serif;
 }
 ul{
     list-style-type: none;
 }
 a {
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-size: large;
     font-weight: 600;
 }
 h1 {
    font-family: 'Impact', fantasy;
    text-align: center;
    color: white;
    font-size: 4em;
}

h2 {
    text-align: center;
    color: white;
}
 /*header*/
 header{
     background:rgba(27, 146, 211, 0);
     position:fixed ;
     top:0;
     width: 100%;
     height: 9vh;
     
    }
 nav {
     overflow: hidden;
     width: 100%;
 }
 
 header li {
     float: right;
     font-size: 1rem;
 }
 header li a {
     display: block;
     text-decoration: none;
     padding: 13px 13px;
     text-align: center;
 }
 
 #logo {
     font-family: 'Dancing Script', cursive 100%;
     font-weight: bold;
     float: left;
     display: flex;
     margin: 0.2rem;
 }
.fa-star{
    color: yellow;
}
 /*main page*/
 /*vp*/
.vp{
    background: url(images/frame.jpg) center center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.vp h2{
    /* margin-top: 10rem; */
    /* flex-grow: 5; */
    font-size: 2.8rem;
}
.vp h2,p{
    width: 50%;
    text-align: center;
}
.vp p{
    /* margin-bottom: 5rem; */
    line-height: 1.8rem;
    font-size: 1.5rem;
}
.vp h2 span{
    color: yellow;
}
/*best chambres*/
/*vp-1*/
.vp-1{
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color:#dfe6e9 ;
    align-items: center;
    justify-content: center;
}
.vp-1 h3{
    margin-top: 1rem;
}
.container{
    display: flex;
}
.container div img{
    width: 100%;
    height: 12rem;
}
.item{
    background-color: white;
    padding: 0px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    width: 30%;
    cursor: pointer;
}
.item:hover{
    width: 35%;
   height: 21rem;
}
.item p{
    margin: 0.8rem 0;
    width: 80%;
}

/*services*/
section{
    background-color: #2d3436;

}
.title{
    margin: auto;
    font-family: 'Impact', fantasy;
    text-align: center;
    font-size: 4em;
    color: white;
    
}
.services{
    display: flex;
    padding-bottom: 2rem;
}
.services img{
    flex: 1;
    width: 50%;
    height: 60vh;
}
.services div{
    background-color: #2d3436;
    flex: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.services div h2{
    margin-left: 3rem;
    margin-right: 1rem;
}
.services div h2 span{
    color: yellow;
}
.services div p{
    margin-left: 3rem;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
    width: 90%;
}
/*contact page*/
.contact{
    background-color: #353b48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 0rem;
}
.contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contact h2{
    margin: 3rem 0rem;
    color: #dcdde1;

}
.contact h2 span{
    color: yellow;
}
.contact input{
    border-radius: 0rem;
    background-color: #353b48;
    color: #636e72;
    border: 0rem;
    border-bottom: #dcdde1 1px solid;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    padding-left: 0.7rem;
    width: 25%;

}
.btn{
    text-align: center;
    background-color: yellow;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 2.3rem;
    width: 10%;
    margin: 3rem 0rem;
    font-weight: bold;
    border: none;
    cursor: pointer;

}
.btn:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
/*gallery page*/
.grid-container{
    background-color: #262626;
    padding-top: 9vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
    height: 90%;
}
/*zoom in image*/
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}
 
@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}
/*zoom out image*/
@-webkit-keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
  }

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
/*footer*/
.footer{
    background-color: #535c68;
    color: #ffffff;
    padding-bottom: 1rem;
}
.footer .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .container .row{
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer .container .row p{
    margin: auto;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 5%;
    height: 5vh;
}
 /* @keyframes Gallerie {
     0%
     {
         transform: translateX(0);
     }
     25%
     {
         transform: translateX(-640px);
     }
     50%
     {
         transform: translateX(-1280px);
     }
     75%
     {
         transform: translateX(-1920px);
     }
     100%
     {
         transform: translateX(0);
     }
 }
 .output {
     height: 300px;
     overflow: hidden;
 }
 .output {
     position: relative;
     float: left;
     background-color: white;
     width: 110%;
     overflow: hidden;
     padding: 2em;
 }
 .output section {
     height: 100%;
     text-align: center;
 }
 .output section {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 #container {
     background-color: #a3000815;
     color: #000;
     padding: 1rem;
     margin-right: 300px;
     border-radius: .5rem;
     font: 1rem monospace;
     width: 30%;
     transition: margin-right 1s;
 }
 #default-example:hover>#container {
     background-color: rgba(78, 52, 78, 0.336);
     color: #f4f4f4;
     margin-right: 25%;
 }
 .small-container{
     max-width: 1080px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
 
 }
 .brands{
     margin: 100px auto;
 }
 
 .col-5{
     width: 160px;
 }
 
 .col-5 img{
     width: 100%;
     cursor: pointer;
     filter: grayscale(100%);
 }
 
 .col-5 img:hover{
     filter: grayscale(0%);
 }
 #row{
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
 }
 .footer{
     max-width: 100%;
     background: #000;
     color: #8a8a8a;
     padding: 40px 20px;
 }
 
 .footer p {
     color: #8a8a8a;
 }
 
 .footer h3{
     color: #fff;
     margin-bottom:30px ;
 }
 
 .footer-col-1 , .footer-col-2 , .footer-col-3 {
     min-width: 250px;
     margin-bottom: 20px;
 }
 
 
 .footer-col-2{
     flex: 1;
     text-align: center;
 }
 .footer-col-3{
     margin-left: 1300px;
     
 }
 .app-logo{
     margin-top: 20px;
 }
 
 .app-logo img{
     width: 140px;
 }
 
 .footer hr{
     border: none;
     background: #b5b5b5;
     height: 1px;
     margin: 20px 0;
 }
 
 .CopyRight{
     text-align: center;
 }
 #row2{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
 }




.class1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:steelblue;
    font-size: 1.4em;
    margin-top: 5%;

}
.class1 i
{
    position:absolute;
    left: 0;
    top: 25%;
    padding: 35px 500px;
    color: teal;
}
.class1 textarea
{
    width: 55%;
    background-color: #f8f8f8;
    border: 4px solid steelblue;
    border-radius: 8px;
}
#message
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    margin-top: 5%;
}
input {
    border: solid;
    width: 55%;
    padding: 15px 8px;
    margin: 1px 0;
    font-size: 0.9em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
button {
    font-size: 1em;
    background-color: tan;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
button:hover {
    background-color: turquoise;
    color: gray;
    cursor: pointer;
    transition: 0.3s ease-in-out;
} */
